/**
 * Component - Back To Top
 */

$backBtnBg:              themeColor("lighter") !default;
$backBtnColor:           colorYiq(themeColor("lighter")) !default;
$backBtnHoverBg:         themeColor("primary") !default;
$backBtnHoverColor:      colorYiq(themeColor("primary")) !default;
$backBtnDarkBg:          themeColor("primary") !default;
$backBtnDarkColor:       colorYiq(themeColor("primary")) !default;
$backBtnDarkHoverBg:     themeColor("primaryLight") !default;
$backBtnDarkHoverColor:  colorYiq(themeColor("primaryLight")) !default;
$backBtnPad:             space() !default;
$backBtnHeight:          3rem !default;

.backToTop {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: block;
  width: $backBtnPad * 2 + $backBtnHeight;
  height: $backBtnPad * 2 + $backBtnHeight;
  padding: 0; // Reset
  border: 0;
  background-color: transparent;
  opacity: 0;
  transform: translateY(1rem) rotateY(-180deg);
  transition: all 0.5s ease;
  text-align: center;
  outline: 0;
  cursor: default;
  pointer-events: none;

  &--active {
    opacity: 1;
    transform: translateY(0) rotateY(0);
    cursor: pointer;
    pointer-events: auto;
  }

  .icon {
    position: absolute;
    right: $backBtnPad;
    bottom: $backBtnPad;
    width: $backBtnHeight;
    height: $backBtnHeight;
    border-radius: 50%;
    background-color: $backBtnBg;
    color: $backBtnColor;
    transition: all 0.25s ease;
  }

  &:hover .icon {
    background-color: $backBtnHoverBg;
    color: $backBtnHoverColor;
  }

  &--dark .icon{
    background-color: $backBtnDarkBg;
    color: $backBtnDarkColor;
  }

  &--dark:hover .icon {
    background-color: $backBtnDarkHoverBg;
    color: $backBtnDarkHoverColor;
  }
}
