/**
 * Component - Back To Top
 */

$backBtnBg:              $iconBg !default;
$backBtnColor:           colorYiq($backBtnBg) !default;
$backBtnHoverBg:         $iconHoverBg !default;
$backBtnHoverColor:      colorYiq($backBtnHoverBg) !default;
$backBtnPad:             space() !default;
$backBtnHeight:          3rem !default;

.backToTop {
  position: fixed;
  right: $backBtnPad;
  bottom: $backBtnPad;
  z-index: 1000;
  display: block;
  width: $backBtnHeight;
  height: $backBtnHeight;
  padding: 0; // Reset
  opacity: 0;
  transform: translateY(1rem) rotateY(-180deg);
  transition: all 0.5s ease;
  text-align: center;
  outline: 0;
  cursor: default;
  pointer-events: none;

  &--active {
    opacity: 1;
    transform: translateY(0) rotateY(0);
    cursor: pointer;
    pointer-events: auto;
  }

  @include useIcon($backBtnBg, $backBtnColor, $backBtnHoverBg, $backBtnHoverColor, 50%);
}
