/**
 * Calendar
 */

$calendarUnit: clamp(46px, 6vw, 69px);

.calendar {
  width: min(100%, 35rem);
  margin: 3rem auto;
  padding-bottom: 1.5rem;

  &.--editMode {
    background: rgba(128, 255, 255, .3);
  }

  &__mode {
    margin-bottom: 1rem;
    text-align: right;

    label {
      font-size: 0.875rem;
    }

    input {
      width: 6rem;
      height: 1.5rem;
      margin-left: 0.5rem;
    }
  }

  &__control {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.75rem;
  }

  &__prev, &__next {
    display: block;
    width: 6rem;
    font-size: 0.875rem;
    text-align: center;
  }

  &__wrap {
    width: min(100%, 35rem);
    margin: 0 auto;
    overflow: auto;
  }

  &__view {
    width: calc(#{$calendarUnit} * 7);
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;

    tr {
      border-bottom: 1px solid #999999;

      &:first-child {
        border-top: 1px solid #999999;
      }
    }

    th, td {
      width: $calendarUnit;
      height: calc(#{$calendarUnit} * 3 / 4);
      border-right: 1px solid #999999;
      text-align: center;

      &:first-child {
        border-left: 1px solid #999999;
      }
    }

    td {
      &.--holiday {
        color: red;
      }
      
      &[data-state="0"] {
        background: rgba(255, 128, 128, .5);
      }
    
      &[data-state="1"] {
        background: rgba(255, 255, 128, .5);
      }
    
      &[data-state="2"] {
        background: rgba(128, 255, 128, .5);
      }
    }
  }

  &:not(.--startOnMon) {
    th, td {
      &:first-child {
        color: red;
      }
    
      &:last-child {
        color: blue;
      }
    }
  }

  &.--startOnMon {
    th, td {
      &:nth-child(7) {
        color: red;
      }
    
      &:nth-child(6) {
        color: blue;
      }
    }
  }

  &__status {
    list-style: none;
    display: flex;
    margin: 0.75rem auto;
    padding: 0 4vw;
  }

  &__state {
    flex: auto;
    height: 1.5rem;
    margin: 0;
    padding-left: 0.375rem;
    border-left-style: solid;
    border-left-width: 1.5rem;
    font-size: 0.875rem;

    &--0 {
      border-color: rgba(255, 128, 128, .5);
    }

    &--1 {
      border-color: rgba(255, 255, 128, .5);
    }

    &--2 {
      border-color: rgba(128, 255, 128, .5);
    }
  }
}
