/**
 * Component - Cover
 */

$coverImageCount:      5 !default;
$coverNavColor:        themeColor("lighter") !default;
$coverNavActiveColor:  themeColor("primary") !default;

.cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background: linear-gradient(rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.3),  rgba(0, 0, 0, 0)), url("./assets/sampleImg00.jpg") no-repeat center center / cover scroll;
    //filter: $blur;
    background-image: url("./assets/sampleImg00.jpg");
    background-position: center center;
    background-size: cover;
    transition: 1s linear opacity;

    // Fader用クラス
    // 画像の数とパスを設定
    @for $i from 1 through $coverImageCount {
      &--num_#{$i} {
        background-image: url("./assets/main_0#{$i - 1}.jpg");
      }
    }
    
    &--fade {
      opacity: 0;
      transition: none;
    }
  }

  // Preloader用クラス
  &.preloader {
    opacity: 0; // Preloader稼働前は透過

    .--loaded & {
      opacity: 1; // イメージを読み込んだら透過を解除
    }
  }

  &__nav {
    list-style: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 1rem;
    margin: space() auto;
    padding: 0;
  }

  &__navItem {
    width: .5rem;
    height: .5rem;
    margin: space();
    border-radius: 50%;
    background-color: $coverNavActiveColor;
    cursor: pointer;

    &:not(.cover__navItem--current) {
      background-color: $coverNavColor;
    }
  }
}
