/**
 * Component - Drawer Menu
 */

$drawerAlwaysShown:            false !default;
$drawerBreakpoint:             breakpoint("md") !default;
$drawerPad:                    space() !default;
$drawerHeight:                 3rem !default;
$drawerRounded:                false !default;
$drawerTransparent:            false !default;
$drawerBg:                     themeColor("lighter") !default;
$drawerColor:                  colorYiq(themeColor("lighter")) !default;
$drawerHoverColor:             themeColor("primary") !default;
$drawerDarkBg:                 themeColor("primary") !default;
$drawerDarkColor:              colorYiq(themeColor("primary")) !default;
$drawerDarkHoverColor:         colorYiq(themeColor("primary")) !default;
$drawerNaviconBg:              themeColor("lighter") !default;
$drawerNaviconColor:           colorYiq(themeColor("lighter")) !default;
$drawerNaviconHoverBg:         themeColor("primary") !default;
$drawerNaviconHoverColor:      colorYiq(themeColor("primary")) !default;
$drawerNaviconDarkBg:          themeColor("primary") !default;
$drawerNaviconDarkColor:       colorYiq(themeColor("primary")) !default;
$drawerNaviconDarkHoverBg:     themeColor("primaryLight") !default;
$drawerNaviconDarkHoverColor:  colorYiq(themeColor("primaryLight")) !default;
$drawerImageLighten:           invert(1) grayscale(1) brightness(4) !default;  

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1110;
  display: block;
  width: $drawerPad * 2 + $drawerHeight;
  height: $drawerPad * 2 + $drawerHeight;
  padding: 0; // Reset
  border: 0;
  background-color: transparent; // Reset
  text-align: center;
  outline: 0; // Reset
  cursor: pointer;

  @if $drawerAlwaysShown == false {
    @media (min-width: $drawerBreakpoint) {
      display: none;
    }
  }

  &__navicon.icon, &__close.icon {
    position: absolute;
    top: $drawerPad;
    right: $drawerPad;
    width: $drawerHeight;
    height: $drawerHeight;
    @if $drawerRounded == false {
      border-radius: 0;
    } @else {
      border-radius: 50%;
    }
    transition: all 0.5s ease;
  }

  &__navicon {
    z-index: 1110;
    @if $drawerTransparent == false {
      background-color: $drawerNaviconBg;
    } @else {
      background-color: transparent;
    }
    color: $drawerNaviconColor;
    opacity: 0;
    transform: rotateY(-180deg);

    &:hover {
      @if $drawerTransparent == false {
        background-color: $drawerNaviconHoverBg;
      } @else {
        background-color: transparent;
      }
      color: $drawerNaviconHoverColor;
    }

    @at-root .drawer:not(.drawer--active):not(.drawer--ready) .drawer__navicon {
      opacity: 1;
      transform: rotateY(0);
    }
  }

  &__close {
    z-index: 1100;
    background-color: transparent;
    color: colorYiq($drawerBg);
    opacity: 1;
    transform: rotateY(0);

    @at-root .drawer:not(.drawer--active) .drawer__close {
      opacity: 0;
      transform: rotateY(180deg);
    }
  }

  &--dark {
    .drawer__navicon {
      background-color: $drawerNaviconDarkBg;
      color: $drawerNaviconDarkColor;

      &:hover {
        background-color: $drawerNaviconDarkHoverBg;
        color: $drawerNaviconDarkHoverColor;
      }
    }
    
    .drawer__close {
      color: colorYiq($drawerDarkBg);
    }
  }
}

.drawerMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  width: clamp(18rem, 40%, 24rem);
  height: 100%;
  margin: auto;
  background-color: $drawerBg;
  text-align: center;
  transition: width 0.5s ease;
  
  &:not(.drawerMenu--show) {
    width: 0;
  }
  
  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    margin: 0;
    padding-left: 0;
    text-align: left;
    opacity: 1;
    
    &:not(.drawerMenu__inner--show) {
      opacity: 0;
    }

    &--collapse {
      display: none;
    }
  }

  &__primaryMenu,
  &__socialMenu {
    list-style: none;
    flex: 1 1 100%;
    padding-left: 0;
  }

  &__socialMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20%;
  }

  &__item {
    width: 100%;
    margin: 0;
    text-transform: capitalize;

    a {
      padding-top: space(1);
      padding-left: 20%;
      padding-bottom: space(1);
    }

    &--siteBrand {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: $h1FontSize;

      a {
        padding: 0 0 0 20%;
      }

      img {
        width: auto;
        height: $drawerHeight;
      }
    }

    &--social {
      width: fit-content;
      padding-top: 1rem;
      padding-bottom: 1rem;

      a {
        width: 3rem;
        height: 3rem;
        padding: 0;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    a {
      display: block;
      color: $drawerColor;
      fill: $drawerColor;
      text-decoration: none;
      transition: all 0.25s ease;

      &:hover {
        background-color: lighten($drawerBg, 5%);
        color: $drawerHoverColor;
        fill: $drawerHoverColor;
      }
    }
  }

  &--dark {
    background-color: $drawerDarkBg;

    .drawerMenu__item {
      a {
        color: $drawerDarkColor;
        fill: $drawerDarkColor;

        &:hover {
          background-color: lighten($drawerDarkBg, 5%);
          color: $drawerDarkHoverColor;
          fill: $drawerDarkHoverColor;
        }
      }

      img {
        filter: $drawerImageLighten;
      }
    }
  }
}

.drawerMenuOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1090;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;

  &--collapse {
    display: none;
  }
}
