/**
 * Layout - Footer
 */

.footer {
  padding: space(5) 0;
  @include background("darkest");

  &__container {
    width: 16.5rem;
    margin: 0 auto;

    small {
      display: block;
    }

  }

  &__socialMenu {
    list-style: none;
    @include row(flex-start);
  }
}
