/**
 * Form
 */

.form {
  @include form();

  &__table {
    @include table();
    margin-bottom: space(3);

    th {
      width: 12rem;
    }
  }

  &__buttons {
    text-align: center;

    [type="submit"], [type="button"], [type="reset"] {
      display: inline-block;
      width: 12rem;
      margin: 1.5rem auto;
      @include makeButton();
    }

    [type="submit"] {
      @include background("primary");
    }
  
    [type="button"] {
      @include background("secondary");
    }
  
    [type="reset"] {
      @include background("tertiary");
    }
  }
}
