/**
 * Layout - G Nav
 */

.gNav {
  @include row(space-between);
  height: 100%;

  &__siteBrand {
    flex: 0 1 9rem;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__primaryMenu {
    @include listUnstyled();
    @include row();
    flex: 0 1 36rem;
    margin: 0;
    text-transform: capitalize;
  }

  &__socialMenu {
    @include listUnstyled();
    @include row();
    flex: 0 1 9rem;
    margin: 0;
  }

  &__menuItem {
    margin: 0;

    &--social {
      width: 3rem;
      text-align: center;
    }

    a {
      display: block;
      line-height: 1;
    }
  }
}
