/**
 * Project - Hero
 */

.hero {
  position: relative;
  @include row(center, center);
  width: 100%;
  height: 100vh;
  color: $bodyBg;
  text-align: center;

  &__content {
    position: relative;
    z-index: 1;
    font-size: $h1FontSize;
  }
}
