/**
 * Project - Hero
 */

.hero {
  position: relative;
  @include row(center, center);
  width: 100%;
  height: calc(100vh - #{$headerHeight});
  background-color: rgba(0, 0, 0, 0.3);
  color: $bodyBg;
  text-align: center;

  &__content {
    position: relative;
    z-index: 1;
  }
}
