/**
 * Component - Icon
 */

$iconBg:           themeColor("lighter") !default;
$iconColor:        colorYiq($iconBg) !default;
$iconHoverBg:      $linkHoverColor !default;
$iconHoverColor:   colorYiq($iconHoverBg) !default;
$iconSizeSm:       1.5rem !default;
$iconSizeMd:       2.25rem !default;
$iconSizeLg:       3rem !default;

@mixin useIcon($bg: $iconBg, $color: $iconColor, $hoverBg: $iconHoverBg, $hoverColor: $iconHoverColor, $rounded: 0) {
  & > .icon {
    border-radius: $rounded;
    background-color: $bg;
    transition: background-color 0.25s ease;

    & > .icon__span {
      &, &::before, &::after {
        border-color: $color;
      }
    }
  }

  &:hover > .icon {
    background-color: $hoverBg;

    & > .icon__span {
      &, &::before, &::after {
        border-color: $hoverColor;
      }
    }
  }
}

.icon {
  position: relative;
  display: inline-block;
  width: $iconSizeSm;
  height: $iconSizeSm;
  overflow: hidden;
  fill: currentColor;

  &--md {
    width: $iconSizeMd;
    height: $iconSizeMd;
  }

  &--lg {
    width: $iconSizeLg;
    height: $iconSizeLg;
  }

  &__span {
    position: relative;
    display: block;
    border-width: 0;
    border-style: solid;
    border-color: themeColor("lightest");
    transition: border-color 0.25s ease;

    @at-root .icon--menu & {
      width: 60%;
      height: 20%;
      margin: 40% 20%;
      border-top-width: 2px;
      border-bottom-width: 2px;
    }

    @at-root .icon--close & {
      &::before, &::after {
        content: "";
        position: absolute;
        display: block;
        width: 60%;
        height: 4%;
        margin: 48% 20%;
        border: 1px solid themeColor("light");
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }

    @at-root .icon--chevron-up & {
      width: 30%;
      height: 30%;
      margin: 35%;
      border-top-width: 2px;
      border-left-width: 2px;
      transform: rotate(45deg) translate(10%, 10%);
    }

    @at-root .icon--chevron-down & {
      width: 30%;
      height: 30%;
      margin: 35%;
      border-right-width: 2px;
      border-bottom-width: 2px;
      transform: rotate(45deg) translate(-10%, -10%);
    }

    @at-root .icon--chevron-left & {
      width: 30%;
      height: 30%;
      margin: 35%;
      border-left-width: 2px;
      border-bottom-width: 2px;
      transform: rotate(45deg) translate(10%, -10%);
    }

    @at-root .icon--chevron-right & {
      width: 30%;
      height: 30%;
      margin: 35%;
      border-top-width: 2px;
      border-right-width: 2px;
      transform: rotate(45deg) translate(-10%, 10%);
    }
  }
}
