/**
 * Project - Post List
 */

.postList {
  @include listUnstyled();

  .postItem {
    &__image {
      img {
        aspect-ratio: $imgAspectRatio;
        object-fit: cover;
      }
    }

    &__info {
      margin-top: space(2);
      margin-bottom: space(1);
    }

    &__heading {
      margin-top: space(2);
      margin-bottom: space(1);
      font-size: $h4FontSize;
    }

    &__excerpt {
      margin-bottom: space(1);
    }

    &__excerpt, &__more {
      @include smallText();
    }
  }

  &--grid {
    @include row();

    .postList__item {
      @include col(4, false, "md");
      margin-bottom: space(3);
    }

    .postItem {
      &__more {
        text-align: center;
      }
    }
  }

  &--list {
    .postList__item {
      margin-bottom: space(3);
      padding-bottom: space(3);
      border-bottom: 1px solid themeColor('dark');

      &:last-child {
        border: 0;
      }
    }

    .postItem {
      @include row(center);

      &__image {
        @include col(3, ture);
        margin: 0;
      }

      &__content {
        @include col(6, ture);
      }

      &__more {
        text-align: right;
      }
    }
  }
}
