/**
 * Project - Post Item
 */

.postItem {
  &__info {
    @include row(flex-start);
    font-size: $smallFontSize;
  }

  &__date {
    @include row(flex-start);
  }

  &__terms {
    @include row(flex-start);

    a {
      margin-left: space(1);
    }
  }

  &__heading {
    font-size: $h3FontSize;
  }

  &__button {
    @include button();
  }

  &--single {
    @include row();

    .postItem {
      &__image {
        @include col(4, true);
      }

      &__content {
        @include col(5, true);
        margin-bottom: space(2);

        @media (min-width: breakpoint("md")) {
          padding-left: 3rem;
          padding-right: 3rem;
        }
      }
    }
  }
}
