/**
 * Component - Responsive Color
 */

$responsiveColor:        $bodyBg !default;
$responsiveImageFilter:  invert(1) grayscale(1) brightness(4) !default;

.responsiveColor {
  &--change {
    color: $responsiveColor !important;

    span, a {
      color: $responsiveColor !important;
    }

    img {
      filter: $responsiveImageFilter;
    }
  }
}
