/**
 * Project - Section
 */

.section {
  &__inner {
    padding-top: space(4);
    padding-bottom: space(4);
    background-color: $bodyBg;

    // Test Responsive Color
    .section:nth-child(odd) & {
      @include background("darker");
    }
  }

  &__heading {
    margin: space(3) 0;
    text-align: center;
    text-transform: capitalize;
  }

  &__container {
    padding-top: space(2) + space(3);
    padding-bottom: space(4);

    &:not(.section__container--md) {
      @include container();
    }

    &--md {
      @include container("md");
    }
  }
}
