/**
 * Section
 */

%__section {
  position: relative;
  padding: 3rem 0;
}

%__container {
  width: min(100%, 75rem); // 1200px 左右24pxずつpaddingで、内寸1152px
  margin: 0 auto;
  padding: 0 clamp(0.75rem, 2%, 1.5rem);
}
