/**
 * Component - Slider
 */

$sliderAspectRatio:        8 / 5 !default;
$sliderBreakPoint:         breakpoint("md") !default;
$sliderHeight:             24rem !default;
$sliderButtonColor:        themeColor("light") !default;
$sliderButtonActiveColor:  themeColor("primary") !default;
$sliderNavColor:           themeColor("lighter") !default;
$sliderNavActiveColor:     themeColor("primary") !default;

.slider {
  position: relative;
  width: 100%;
  height: calc(83.33vmin / #{$sliderAspectRatio});
  overflow: hidden;

  @media (min-width: $sliderBreakPoint) {
    height: $sliderHeight;
  }
  
  // gapはJSで指定
  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    transform: translateX(0);
  }

  &__item {
    position: relative;
    flex: 0 1 auto; 
    order: 0;
    margin: 0;
    opacity: 1;
    transition: opacity 0.15s linear;
    
    &:not(.slider__item--current) {
      opacity: .5;
    }

    img {
      width: 83.33vmin;
      aspect-ratio: $sliderAspectRatio;
      object-fit: cover;
      margin: 0;

      @media (min-width: $sliderBreakPoint) {
        width: auto;
        height: $sliderHeight;
      }
    }
  }

  &__caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: space(2) space(3);
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.5));
    color: $bodyBg;
    font-size: $h2FontSize;
    text-align: center;

    a {
      display: block;
      color: $bodyBg;
    }
  }

  &__prev, &__next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    height: 4.5rem; // アイコンのサイズ
    margin: auto;
    border: 0;
    background-color: transparent;
    color: $sliderButtonColor;
    text-align: center;
    
    &:hover {
      color: $sliderButtonActiveColor;
    }
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }
  
  &__nav {
    list-style: none;
    display: flex;
    justify-content: center;
    height: 1rem;
    margin: space() auto;
    padding: 0;
  }

  &__navItem {
    width: .5rem;
    height: .5rem;
    margin: space();
    border-radius: 50%;
    background-color: $sliderNavActiveColor;
    cursor: pointer;

    &:not(.slider__navItem--current) {
      background-color: $sliderNavColor;
    }
  }
}
