// Variables

//$fontFamilySansSerif:  "Noto Sans JP", sans-serif;
//$fontFamilySerif:      "Noto Serif JP", serif;
//$fontWeightSansSerif:  400;
//$fontWeightSerif:      400;

$drawerTransparent: true;
