// Variables

$bodyBg:               #ffffff;
$bodyColor:            #262626; // 15%
$primary:              #3399cc; // hsl(200, 60%, 50%)
$primaryLight:         #85c2e0; // hsl(200, 60%, 70%)
$linkColor:            $primary;
$linkHoverColor:       $primaryLight;

$breakpointSm:         600px;
$breakpointMd:         900px;
$breakpointLg:         1200px;

$fontSizeBase:         16px;
$rootFontSize:         min(3.84vw, $fontSizeBase);

$fontFamilyBase:       "游ゴシック", "Yu Gothic", sans-serif;
$fontWeightBase:       500; // Specific setting for "Yu Gothic"
$lineHeightBase:       28.8 / ($fontSizeBase / ($fontSizeBase * 0 + 1)); // 単位除去
$letterSpacingBase:    0;
