@charset "utf-8";

// Customize
@import "variables";

// Settings
@import "settings/colorSystem";
@import "settings/gridSystem";
@import "settings/typography";

// Mixins
@import "mixins/background";
@import "mixins/button";
@import "mixins/form";
@import "mixins/table";
@import "mixins/type";

// Foundation
@import "normalize";

// Layout
@import "header";
@import "gNav";
@import "footer";

// Components
@import "icon";
@import "backToTop";
@import "cover";
@import "drawerMenu";
@import "embed";
@import "preloader";
@import "responsiveColor";
@import "slider";

// Projects
@import "hero";
@import "section";
@import "postItem";
@import "postList";
@import "form";

// Utility
//@import "utilities/flex";
//@import "utilities/flexItem";
@import "utilities/spacing";
@import "utilities/text";
@import "utilities/visibility";
