<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAMPLE DEMO | QWEL in Action</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico">
  </head>
  <body>
    <div id="app">
      <header id="header" class="header">
        <div class="header__container">
          <nav id="gNav" class="gNav">
            <h1 class="gNav__siteBrand responsiveColor">
              <a href="/demo/">Sample Demo</a>
            </h1>
            <ul class="gNav__primaryMenu --visible_md">
              <li class="gNav__menuItem" v-for="section in sections"><a :href="`#${section.id}`">{{ section.name }}</a></li>
            </ul>
            <ul class="gNav__socialMenu --visible_md">
              <template v-for="(item, key) in social">
                <li class="gNav__menuItem gNav__menuItem--social" v-if="item"><a :href="`https://${key}.com/`"><span :data-icon="`ei-sc-${key}`" data-size="m"></span></a></li>
              </template>
            </ul>
          </nav>
        </div>
      </header>
      <main id="main" class="main">
        <header id="hero" class="hero">
          <div class="hero__content">
            <p>Welcome to our website.
              <br>This page is a Sample Demo, 
              <br>so some links and buttons may not work.</p>
          </div>
        </header>
        <section :id="sections['feature'].id" class="section">
          <div class="section__inner">
            <h2 class="section__heading --pb_4">{{ sections['feature'].name }}</h2>
            <div class="slider" data-gap="72">
              <figure class="slider__inner">
                <figure class="slider__item" v-for="item in sections['feature'].items">
                  <img class="slider__image" :src="item.src">
                  <figcaption class="slider__caption"><a href="#">{{ item.heading }}</a></figcaption>
                </figure>
              </figure>
            </div>
          </div>
        </section>
        <section :id="sections['about'].id" class="section">
          <div class="section__inner">
            <h2 class="section__heading">{{ sections['about'].name }}</h2>
            <div class="section__container">
              <article class="postItem postItem--single">
                <figure class="postItem__image">
                  <img :src="sections['about'].src">
                </figure>
                <div class="postItem__content">
                  <h3 class="postItem__heading">{{ sections['about'].heading }}</h3>
                  <p class="postItem__excerpt">{{ sections['about'].excerpt }}</p>
                  <div class="postItem__more">
                    <a class="postItem__button" href="#">{{ sections['about'].more }}</a>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>
        <section :id="sections['service'].id" class="section">
          <div class="section__inner">
            <h2 class="section__heading">{{ sections['service'].name }}</h2>
            <div class="section__container">
              <div class="postList postList--grid">
                <div class="postList__item" v-for="item in sections['service'].items">
                  <section class="postItem">
                    <figure class="postItem__image">
                      <img :src="item.src">
                    </figure>
                    <div class="postItem__content">
                      <div class="postItem__info">
                        <div class="postItem__date">{{ item.data }}</div>
                        <div class="postItem__terms">
                          <a href="#" v-for="tag in item.tags">{{ tag }}</a>
                        </div>
                      </div>
                      <h3 class="postItem__heading">{{ item.heading }}</h3>
                      <p class="postItem__excerpt">{{ item.excerpt }}</p>
                      <div class="postItem__more">
                        <a href="#">{{ sections['service'].more }} &gt;</a>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section :id="sections['news'].id" class="section">
          <div class="section__inner">
            <h2 class="section__heading">{{ sections['news'].name }}</h2>
            <div class="section__container">
              <ul class="postList postList--list">
                <li class="postList__item" v-for="item in sections['news'].items">
                  <div class="postItem">
                    <figure class="postItem__image">
                      <img :src="item.src">
                    </figure>
                    <div class="postItem__content">
                      <div class="postItem__info">
                        <div class="postItem__date">{{ item.date }}</div>
                        <div class="postItem__terms">
                          <a href="#" v-for="tag in item.tags">{{ tag }}</a>
                        </div>
                      </div>
                      <h3 class="postItem__heading">{{ item.heading }}</h3>
                      <p class="postItem__excerpt">{{ item.excerpt }}</p>
                      <div class="postItem__more">
                        <a href="#">{{ sections['news'].more }} &gt;</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section :id="sections['team'].id" class="section">
          <div class="section__inner">
            <h2 class="section__heading">{{ sections['team'].name }}</h2>
            <div class="section__container">
              <article class="postItem postItem--single">
                <figure class="postItem__image">
                  <img :src="sections['team'].src">
                </figure>
                <div class="postItem__content">
                  <h3 class="postItem__heading">{{ sections['team'].heading }}</h3>
                  <p class="postItem__excerpt">{{ sections['team'].excerpt }}</p>
                  <div class="postItem__more">
                    <a class="postItem__button" href="#">{{ sections['team'].more }}</a>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>
        <section :id="sections['access'].id" class="section">
          <div class="section__inner --pb_0">
            <h2 class="section__heading --pb_4">{{ sections['access'].name }}</h2>
            <div class="embed">
              <iframe :src="sections['access'].src"></iframe>
            </div>
          </div>
        </section>
        <section :id="sections['contact'].id" class="section">
          <div class="section__inner">
            <h2 class="section__heading">{{ sections['contact'].name }}</h2>
            <div class="section__container section__container--md">
              <p class="--text_center">{{ sections['contact'].description }}</p>
              <form class="form">
                <table class="form__table">
                  <tr>
                    <th><label for="yourname">氏名<span class="required">*必須</span></label></th>
                    <td><input id="yourname" size="30" type="text" name="氏名"></td>
                  </tr>
                  <tr>
                    <th><label for="youremail">メールアドレス<span class="required">*必須</span></label></th>
                    <td><input id="youremail" size="30" type="email" name="Email"></td>
                  </tr>
                  <tr>
                    <th><label for="yoursubject">題名</label></th>
                    <td>
                      <select id="yoursubject" name="題名">
                        <option value="ご質問・お問い合わせ">ご質問・お問い合わせ</option>
                        <option value="その他">その他</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th><label for="yourcontent">メッセージ本文</label></th>
                    <td><textarea id="yourcontent" name="メッセージ本文" cols="30" rows="6"></textarea></td>
                  </tr>
                </table>
                <div class="form__buttons">
                  <input type="submit" value="確認">
                </div>
              </form>
            </div>
          </div>
        </section>
      </main>
      <div class="cover fader preloader" data-spinner-off="true">
        <div class="cover__inner">
          <div class="cover__image cover__image--num_1"></div>
          <div class="cover__image cover__image--num_2"></div>
          <div class="cover__image cover__image--num_3"></div>
          <div class="cover__image cover__image--num_4"></div>
        </div>
      </div>
      <footer id="footer" class="footer">
        <small v-html="copyright"></small>
      </footer>
    </div>
    <script src="./init.js" type="module"></script>
  </body>
</html>
