@charset "UTF-8";
/**
 * Normalize
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: min(3.84vw, 16px);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #262626;
  font-family: "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-family: "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-weight: bold;
  font-size: 1rem;
}

h6 {
  font-weight: bold;
  font-size: 0.875rem;
}

p,
ol, ul,
li {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

small {
  font-size: 0.875rem;
  line-height: 1.8;
  letter-spacing: 0;
}

blockquote {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding-left: 1em;
  border-left: 0.375rem solid #262626;
}
blockquote p, blockquote cite {
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.8;
  letter-spacing: 0;
}

a, a:active {
  color: #4d4d4d;
  text-decoration: none;
}
a:hover, a:focus {
  color: #3399cc;
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  display: block;
  margin: 0.75rem auto;
}

figcaption {
  font-size: 0.875rem;
  line-height: 1.8;
  letter-spacing: 0;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

button, input, select, textarea {
  font: inherit;
}

/**
 * Section
 */
.section {
  position: relative;
  padding: 1.5rem 0;
}
.section__container {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: clamp(0.75rem, 2%, 24px);
  padding-right: clamp(0.75rem, 2%, 24px);
}
.section__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}