// Table

@mixin makeTable() {
  thead, tbody {
    width: 100%;
  }

  thead {
    border: 0; // Reset
  }

  tr {
    border-bottom: 1px solid themeColor("lighter");

    &:first-child {
      border-top: 1px solid themeColor("lighter");
    }
  }

  th, td {
    padding: space();
    border: 0; // Reset
  }
}

@mixin table() {
  width: 100%;

  @media (max-width: breakpoint("sm") - 0.1px) {
    &, thead, tbody, tr, th, td {
      display: block;
    }
  }

  @include makeTable();
}

@mixin fluidTable($width: 72rem) {
  width: 100%;
  overflow-x: auto;

  table {
    width: $width;
    margin: 0 auto;
  }

  @include makeTable();
}
