// Type

// ol, ul
// Normalizeでは適用しない
@mixin listUnstyled() {
  list-style: none;
  padding-left: 0;
}

// small
@mixin smallText() {
  font-size: $smallFontSize;
  line-height: $smallLineHeight;
  letter-spacing: $smallLetterSpacing;
}

// blockquote
@mixin blockquote() {
  margin-top: $defaultMargin;
  margin-bottom: $defaultMargin;
  padding-left: 1em;
  border-left: space(1) solid $bodyColor;

  p, cite {
    font-style: italic;
    @include smallText();
  }
}

// リンク文字列
@mixin linkText() {
  &, &:active {
    color: $linkColor;
    text-decoration: $linkDecoration;
  }
  
  &:hover, &:focus {
    color: $linkHoverColor;
    text-decoration: $linkHoverDecoration;
  }
}
